@tailwind base;
@tailwind components;
@tailwind utilities;

html, body {
    /* Stops the use of scrolling */
    height: 100%;
    width: 100%;
    margin: 0;
    background-color: var(--figma-color-bg);
    color: var(--figma-color-text);
}